name: Windows RDP

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:

    - name: Set Password
      run: net user runneradmin Password123!

    - name: Show IP
      run: ipconfig

    - name: Keep Alive
      run: Start-Sleep -Seconds 21600
