name: Windows RDP

on: workflow_dispatch

jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Enable RDP
      run: |
        net user runneradmin Password123!
        net localgroup administrators runneradmin /add
    - name: Keep Alive
      run: |
        echo "RDP Ready"
        timeout 21600
